appdirs==1.4.4
attrs==21.2.0
autopep8==1.5.7
click==8.0.1
dataclasses==0.8
Flask==2.0.1
Flask-Sockets==0.2.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
importlib-metadata==4.5.0
iniconfig==1.1.1
iso8601==0.1.14
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==20.9
pika==1.2.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyparsing==2.4.7
pyserial==3.5
pytest==6.2.4
PyYAML==5.4.1
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
